<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jewish Ethical Eating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Girassol|Nunito+Sans&display=swap" rel="stylesheet">
    <style>
        .nice-font {
            font-family: 'Dosis', sans-serif;
        }
        .bible-font {
            font-family: 'Girassol', cursive;
        }
        .quiz-font {
            font-family: 'Nunito Sans', sans-serif;
        }
        .card {
            background-color: rgba(245, 245, 245, 0.4);
        }
        .card-header, .card-footer {
            opacity: 1;
        }
        .space {
            margin-top: 90px;
        }
    </style>
    {% block css %}
    {% endblock %}

</head>
<body>
    {% block navbar %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'resources:perv' %}">
            <img src="{% static 'resources/eggplant.png' %}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'resources:index' %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'resources:questions' %}">FAQs</a>
                <a class="nav-item nav-link" href="{% url 'resources:resources' %}">Resources</a>
                <a class="nav-item nav-link" href="{% url 'forum:forum' %}">Forum</a>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer>
        <div class="footer-copyright text-center py-3 fixed-bottom text-light">© 2020 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/">JEE</a>
        </div>
     </footer>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>