{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
   body {
        background-color: #abebc6;
   }
   #meter:hover .gauge-c {
        transform:rotate(.5turn);
   }
</style>
{% endblock %}

{% block content %}
<div class="alert alert-success quiz-font" style="font-size: 25px;" role="alert">
  {% if messages %}{% for m in messages %}{{ m.message }}{% endfor %}{% endif %}
</div>
<div id="meter" class="container" style="margin-top: 110px;">
  <div class="gauge-a"></div>
  <div class="gauge-b"></div>
  <div class="gauge-c"></div>
  <div class="gauge-data">
    <h5 style="margin-top: 50px;" id="percent">hover for<br> your ethical level</h5>
  </div>
</div>
<center>
    <h1 class="nice-font title">Register</h1>
    <div class="card space" style="width: 25rem; margin-bottom: 60px;">
      <img src="{% static 'users/kosher_vegan.png' %}" class="card-img-top" style="width: 50%; margin: auto; margin-top: 30px;" alt="...">
      <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary" >Register</button>
          </form>
      </div>
    </div>
</center>
{% endblock %}