{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
     body {
        background-image: url("{% static 'resources/carrot_lox.jpg' %}");
        background-color:   #020202;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: screen;
     }
     .top-buffer {
        margin-top: 35px;
     }
</style>
{% endblock %}

{% block content %}
<div class="container text-light">
    <center><h1 style="color: black;" class="nice-font">Jewish Ethical Eating</h1></center>
    <div class="row top-buffer">
        <div class="col-md-4">
            <h2 class="nice-font">What is It</h2>
            <img style="height: 200px; width: 200px;" src="{% static 'resources/question.png' %}" alt="Question mark">
        </div>
        <div class="col-md-8">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            <a href="{% url 'resources:about' %}" class="btn btn-secondary">Learn More</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-8">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                <a href="{% url 'resources:about' %}" class="btn btn-secondary">Read More</a>
        </div>
        <div class="col-md-4">
            <h2 class="nice-font">Why is it important</h2>
            <img style="height: 200px; width: 200px;" src="{% static 'resources/important.png' %}" alt="Exclamation point">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-4">
            <h2 class="nice-font">How to get involved</h2>
            <img style="height: 200px; width: 200px;" src="{% static 'resources/tools.png' %}" alt="Tools">
        </div>
        <div class="col-md-8">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
    </div>
</div>
{% endblock %}