{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
     body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'resources/carrot_lox.jpg' %}");
        background-color:   #020202;
        background-repeat: no-repeat;
        background-size: auto, 100%;
     }
     .top-buffer {
        margin-top: 35px;
     }
</style>
{% endblock %}

{% block content %}
<h1 style="font-size: 80px;" class="nice-font text-light space">Might You Be a Jewish Ethical Eater?</h1>
<center><a href="#quiz" class="btn btn-danger btn-lg space">Take the Quiz</a></center>
<div style="margin-top: 590px;">
    <h3 class="nice-font" style="color: lime;" id="quiz">Science-backed, bestial consumption quiz</h3>
    <form method="post" class="text-light quiz-font space" style="font-size: 25px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="margin-bottom: 80px;" type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>

{% endblock %}