{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
   body {
        background-image: linear-gradient(rgba(170, 170, 170, 0.8), rgba(170, 170, 170, 0.8)), url("{% static 'resources/avocado.jpg' %}");
        background-color: #abebc6;
     }
</style>
{% endblock %}

{% block content %}
<div class="alert alert-success quiz-font" style="font-size: 25px;" role="alert">
  {% if messages %}{% for m in messages %}{{ m.message }}{% endfor %}{% endif %}
</div>
<center><h1 class="nice-font space ledge">FAQs</h1></center>
<div class="container space">
    <div class="row">
        <div class="col-md-8">
            {% for query in queries %}
            <ul style="margin-bottom: 50px;" class="list-group">
              <li class="list-group-item active">{{ query.question }}</li>
              <li class="list-group-item">{{ query.answer }}<br>
                  <p style="font-size: 11px;">Find this answer helpful?   <a href="#">yes</a></p>
              </li>
            </ul>
            {% endfor %}
        </div>
        <div class="card-mx-auto col-md-4">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                             <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

