{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
     body {
        background-color: #abebc6;
     }
     h2 {
        margin-left: 50px;
     }
</style>
{% endblock %}


{% block content %}
<div class="alert alert-success quiz-font" style="font-size: 25px;" role="alert">
  {% if messages %}{% for m in messages %}{{ m.message }}{% endfor %}{% endif %}
</div>
<center><h1 class="nice-font space">Resources</h1></center>

<div class="container space">
    <!--  book section  -->
    <div class="row">
        <div class="col-md-4">
            <h2 class="nice-font">Books</h2>
            <img style="height: 180px; width: 200px;" src="{% static 'resources/Book.png' %}" alt="books"><br>
            <a href="{% url 'resources:books' %}" class="btn btn-secondary space">See All</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                {% for book in books %}
                <div class="card" style="width: 11rem; margin-right: 10px;">
                    <img src="{{ book.cover.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <a href="{{ book.site }}" class="btn btn-primary">Buy</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--  source section  -->
    <div id="sources" class="row space">
        <div class="col-md-8">
            <h4 class="bible-font">And God said: "Behold, I have given you every herb-yielding seed which is upon the face of all the earth,
                and every tree that has seed-yielding fruit - to you it shall be for food."<br>
                    Genesis 1:29
            </h4>
            <div style="margin-top: 40px;" class="row">
                <div class="col-md">
                    <a href="{% url 'resources:bible' %}" class="btn btn-secondary">Bible</a>
                </div>
                <div class="col-md">
                    <a href="{% url 'resources:talmud' %}" class="btn btn-secondary">Talmud</a>
                </div>
                <div class="col-md">
                    <a href="{% url 'resources:rabbis' %}" class="btn btn-secondary">Rabbis</a>
                </div>
                <div class="col-md">
                    <a href="{% url 'resources:thinkers' %}" class="btn btn-secondary">Contemporary thinkers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="nice-font">Sources</h2>
            <img style="height: 200px; width: 200px;" src="{% static 'resources/file.png' %}" alt="source">
        </div>
    </div>
    <div class="row space">
        <div class="col-md-4">
            <!--  restaurant section  -->
            <h2 class="nice-font">Restaurants</h2>
            <img style="height: 170px; width: 200px;" src="{% static 'resources/plate.png' %}" alt="place setting">
        </div>
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    {% for restaurant in restaurants %}
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <p class="card-text">Location: {{ restaurant.address }} {{ restaurant.city }} {{ restaurant.country }}</p>
                    <a href="{{ restaurant.site }}" class="btn btn-primary">Visit Site</a>
                    <a href="{% url 'resources:reviews' restaurant.id %}" class="btn btn-primary">Reviews</a>
                </div>
                <div class="card-footer text-muted">
                     {% if restaurant.get_avg %}
                        Rating: {{ restaurant.get_avg }}
                     {% endif %}
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'resources:food' %}" class="btn btn-secondary">See All</a>
        </div>
    </div>
    <!--  product section  -->
    <div class="row space" style="margin-bottom: 90px;">
        <div class="col-md-8">
            <div class="row">
            {% for product in products %}
                <div class="card" style="width: 11rem; margin-right: 10px;">
                    <img src="{{ product.pic.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        <a href="{{ product.site }}" class="btn btn-primary">Website</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div style="margin-top: 40px;" class="row">
                <div class="col-md">
                    <a href="{% url 'resources:products' %}" class="btn btn-secondary">See All</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="nice-font">Products</h2>
            <img style="height: 200px; width: 200px;" src="{% static 'resources/box2.png' %}" alt="box">
        </div>
    </div>
</div>
{% endblock %}